{% extends "base.html" %}
{% block content %}
{% for testentry in alltestentries %}
        <div class="title"><a href="{% url 'testentry' testentry.pk %}">{{testentry.title}}</a></div>
{% endfor %}
{% endblock %}