<!doctype html>
{% load dajaxice_templatetags %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangoo</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        .comment {
            margin-left: 10px;
        }

        .s {
            margin-left: 10px;
        }
    </style>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>

    {% dajaxice_js_import %}
    <script type="text/javascript">
        function my_js_callback(data){
            $('.loading').html('Wynik to ' + data.message);
        }

        $(document).ready(function() {
           $('input[type="button"]').click(function() {
              data = $('input[type="text"]').val();
              Dajaxice.dajaxicemid.onp(my_js_callback, {'data': data});
           });
        });
    </script>
</head>
<body>
{% if messages %}
    <div class="messages">
    {% for message in messages %}
    <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>