{% extends "base.html" %}
{% block content %}
{% for testentry in testentries %}
        <div class="title">{{testentry.title}}</div>
{% endfor %}
<form action="{% url 'test' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}