{% extends "base.html" %}
{% block content %}
<div class="title">
    {{ testentry.title }}
</div>
<form action="{% url 'testentry' entryid %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<div class="comments">
    {% autoescape off %}
    {% for comment in subcomments %}
        <div class="comment">
            {{comment.content}}
        </div>
    {% endfor %}
    {% endautoescape %}
</div>
{% endblock %}